.view-details {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #1814f3;
    width: 66px;
}

.card-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    color: #232323;
    margin-bottom: 4px;
}

.card-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: #718ebf;
}

.p-2.flex-shrink-1 {
    display: flex;
    align-items: center;
    width: 82px;
}
.p-2.flex-grow-1{
    width: 181px;
}
.card {
    border-radius: 10px;
    width: 100%;
    height: 69px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.d-flex {
    width: 365px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.p-2.svg-item{
    width: 55px;
    height: 45px;
    background: #E7EDFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}