.body {
  margin-top: 100px;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 132%;
  color: #000;
  margin: 20px 48px 20px 41px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  /* Расположение элементов в строку */
  align-items: end;
  /* Выравнивание элементов по вертикали */
  justify-content: center;
  /* Выравнивание элементов по горизонтали */
  width: 90%;
}

.img-container {
  height: 70px;
  display: flex;
  /* Расположение элементов в строку */
  align-items: center;
  justify-content: center;
}

.Broccoli {
  width: 46px;
  height: 48px;
}

.bread {
  width: 70px;
  height: 70px;
}

.beet {
  width: 59px;
  height: 63px;
}

.paleo {
  width: 62px;
  height: 69px;
}

.Avocado {
  width: 41px;
  height: 46px;
}

/* screen 2 form  */

form {
  width: 100%;
  margin: 0px 0 200px 0%;
  width: 100%;
  margin: 0px 0 200px 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-select {
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  background: #fff;
}

.form-label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 17px;
  line-height: 132%;
  color: #1c1111;
  text-align: left;
}

.btn {
  width: 100%;
}

.form-control {
  border-right-color: transparent;
  /* Устанавливаем цвет правой границы инпута в прозрачный */
}

.input-group-text {
  background: #ffffff;
  border-left-color: transparent;
}

.mb-3 {

  margin-bottom: 50px !important;
  margin-top: 50px;
  width: 90%;

}

form select {
  width: 370px;
  height: 50px;
  margin-top: 10px;
}

form button {
  border-radius: 12px;
  padding: 14px 32px;
  width: 370px;
  height: 56px;
  box-shadow: 0 14px 23px 0 rgba(28, 37, 44, 0.08);
  background: #1f64ff;
  margin-top: 30px !important;
}

.input-group-p {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 11px;
  color: #4a5568;
  margin: 0;
  display: flex;
  gap: 10px;
  text-align: left;
}

/* end Screen 2 */