body {
  font: Sans Serif Collection;
  margin: 0;
  padding: 0;
}
main{
  margin: 20px 10px 185px 30px

}
.container {
  max-width: 80%;
  margin: 140px 0 0 0;
  border-radius: 5px;
  position: relative;
}
.text {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}

.back-btn {
  position: absolute;
  top: 80px;
  left: 30px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-color: #1f64ff;
}

.back-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#feedback-title {
  border: 2px solid #1f64ff;
  border-radius: 8px;
  width: 271px;
  height: 66px;
  box-shadow: 0 4px 10px 0 rgba(31, 37, 89, 0.07),
    0 2px 11px 0 rgba(69, 65, 164, 0.06);
  background: #fff;
  padding-left: 20px;
  margin-left: 20px;
}
.feedback-text {
  stroke-width: 1px;
  stroke: #eff0f6;
  box-shadow: 0 2px 6px 0 rgba(19, 18, 66, 0.07);
  width: 360px;
  height: 163px;
  border-radius: 12px;
  padding: 13px 100px 0px 13px;
  margin-left: 20px;
}

.continue-btn {
  position: absolute;
  top:  710px;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 227px;
}

.title{
  font-family: var(--third-family);
font-weight: 600;
font-size: 20px;
line-height: 125%;
color: #000;
}
.selected{
  /* width: 50%;
  margin-left: 15%; */
}
.select-reason{
  margin: 20px 0 0 0 ;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
.subtitle{
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #252525;
}
.fifth{
  width: 55px;
}
.fourth{
  width: 50px;
}
.thrid{
  width: 45px;

}
.second{
  width: 40px;
}
.first{
  width: 30px;
}
.btn-outline-primary{
  margin: 10px 30px 0 0 ;
}
