.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #D9D9D9; /* Цвет фона футера */
    padding: 20px; /* Отступы внутри футера */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тень под футером */
    display: flex;
    justify-content: space-around;
}
.first a, .second a , .third a, .fourth a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#6F6E6E;
    text-decoration: none;
}