header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; /* Цвет фона футера */
    padding: 10px; /* Отступы внутри футера */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тень под футером */
    display: flex;
    justify-content: space-around;
}