body {
  font-family: "Lato";
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 140px auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.text {
  position: relative;
  margin-bottom: 16px;
  text-align: center;
}

.login-title {
  display: inline-block;
  vertical-align: middle;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: #000;
  margin-left: 5px;

}
.errMsg{
  text-align: left !important;
  color: darkred;
}

.back-btn {
  position: absolute;
  top: 40px;
  left: 30px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  /* Makes the button circular */
  overflow: hidden;
  /* Clips the rectangular image to fit within the circle */
  width: 40px;
  height: 40px;
  background-color: #1f64ff;
}

.back-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.text1 {
  display: flex;
  width: 100%;
  height: 28px;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  flex-shrink: 0;
  margin-top: 2%;
  font-size: 15px;
}

.text1 p {
  color: #000000;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
}

.text1 a {
  text-decoration: none;
  color: #1f64ff;
}

.input-group {
  margin-bottom: 16px;
  padding-top: 2px;
}

p {
  margin-bottom: 1px;
  font-size: 14px;
}

#Email {
  border: 1px solid #2a81db;
  border-radius: 8px;
  padding: 18px 16px;
  width: 300px;
  height: 10px;
}

#Password {
  border: 1px solid #d8dadc;
  border-radius: 8px;
  padding: 18px 16px;
  width: 343px;
  height: 56px;
}

.password-container {
  position: relative;
  width: 300px;
  margin: 1px auto;
}

.password-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-image: url("show.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.password {
  display: flex;
  align-items: center;
}

#checkButton {
  margin-right: 10px;
}

.password-container {
  position: relative;
  width: 300px;
  margin: 1px auto;
}

.password-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  /* Adjusted padding to accommodate the image */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-image: url("show.png");
  /* Image URL */
  background-repeat: no-repeat;
  background-position: right 10px center;
  /* Positioning the image */
}

#checkButton {
  margin-right: 10px;
}

#checkButton:checked {
  background-color: #30f2f2;
  /* Change color when checked */
}

#checkButton {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ccc;
  font-size: 14px;
}

.checked {
  background-color: #30f2f2;
  /* Change color when checked */
}

.parallelText {
  width: 100%;
  text-align: right;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  color: #000;
}

a {
  color: #000000;
}

.continue-btn {
  width: 100%;
  padding: 10px;
  background-color: #1f64ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 23px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  height: 66px;
}

.continue-btn img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

/*
  .Signemail-btn {
    width: 100%;
    padding: 10px;
    background-color: #d9d9d9;
    color: #000000;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .alternative-sign-in {
    margin-top: 20px auto;
    width: 60%;
    text-align: center;
  }
  
  .social-link {
    display: inline-block;
    margin-top: 10px;
  }
  
  .social-link img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .button{
    align-items: center;
    width: 80%;
    margin:  auto;

  }
  
  .register-logo svg {
    margin-right: 5px; 
  }

  .or-text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 23px;
}
.social-icons {
    display: flex;
    justify-content: center;
}
.social-icon {
    width: 50px;
    margin: 0 40px;
    cursor: pointer;
}
*/