body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .text {
    position: relative;
    margin-bottom:16px;
    text-align: center;
  }


  .text1 {
    display: flex;
    width: 100%;
    height: 28px;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    flex-shrink: 0;
    margin-top: 2%;
  }
  .text1 p {
    color: #515151;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 18.75px */
  }
  .text1 a {
    text-decoration: none;
    color: #6ba0cf;
  }
  
  .back-btn {
    position: absolute;
    /* top: 5px; */
    left: 0px;
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Makes the button circular */
    overflow: hidden; /* Clips the rectangular image to fit within the circle */
    width: 40px;
    height: 40px;
    background-color: #30F2F2;
    
  }

  .back-btn img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
}

  
  h2 {
    margin-bottom: 20px;
    font-family: 'Lato Bold' ;
    font-weight: bold;
  }
  
  .input-group {
    margin-bottom: 16px;
    padding-top: 2px;
  }
  p {
    margin-bottom:1px;
  }
  
  .verification-code {
    display: flex;
    justify-content: center;
  }
  
  .verification-code input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #country-code {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  
  #phone {
    width: 100%;
    padding: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #D8DADC;
    border-radius: 5px;
  }
  
  #Name {
    width: 100%;
    padding: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #D8DADC;
    border-radius: 5px;
  }
  
  #Username {
    width: 100%;
    padding: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #D8DADC;
    border-radius: 5px;
  }
  
  #Email {
    width: 100%;
    padding: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #D8DADC;
    border-radius: 5px;
  }
  
  #Password {
    width: 100%;
    padding: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #D8DADC;
    border-radius: 5px;
  }


  
  .continue-btn {
    width: 100%;
    padding: 20px;
    background-color: #1F64FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
    display: inline-flex;
      align-items: center;
  }

  .continue-btn img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  
  .Signemail-btn {
    width: 100%;
    padding: 10px;
    background-color: #d9d9d9;
    color: #000000;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .alternative-sign-in {
    margin-top: 20px auto;
    width: 60%;
    text-align: center;
  }
  
  .social-link {
    display: inline-block;
    margin-top: 10px;
  }
  
  .social-link img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .button{
    align-items: center;
    width: 80%;
    margin:  auto;

  }
  
  .register-logo svg {
    margin-right: 5px; /* Добавляем небольшое расстояние между SVG и элементом span */
  }
  .password {
    display: flex;
    align-items: center;

  }

  .password-container {
    position: relative;
    width: 300px;
    margin: 1px auto;
  }
  .password-input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Adjusted padding to accommodate the image */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-image: url('show.png'); /* Image URL */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Positioning the image */
  }

  #checkButton {
    margin-right: 10px;
  }
  #checkButton:checked {
    background-color: #30F2F2; /* Change color when checked */
  }
  #checkButton {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
  }
  .checked {
    background-color: #30F2F2; /* Change color when checked */
  }
  
  .parallelText {
    margin-left: 40px;
  }

a {
    color: #30F2F2;
}
  .or-text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 23px;
}
.social-icons {
    display: flex;
    justify-content: center;
}
.social-icon {
    width: 50px;
    margin: 0 40px;
    cursor: pointer;
}