.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 132%;
  color: #000;
  padding: 50px 20px 0;
}
.flex {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.first-flex-item {
  border: 2px solid #1f64ff;
  border-radius: 100px;
  width: 378px;
  height: 74px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
.second-flex-item {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #f6f6f6;
  border-radius: 5px;
  width: 378px;
  height: 85px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  color: #333;
  margin: 30px 0 0 0;
}
.comment {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #827e7e;
  margin: 0;
}
.end {
  height: 120px;
}
.first-flex-item .more {
  margin: -37px 0 0 4%;
}
.second-flex-item .more {
  margin: -37px 0 0 5%;
}
.first-items svg {
  margin-left: -20px;
}
.text {
  display: flex;
  flex-direction: column;
}
.firsts-text{
    width: 230px;
}
.first-text {
  width: 230px;
  margin-left: 20px;
}
.second-text p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #2405cf;
}
.second-text p span {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 9px;
  color: #868686;
}
.second-text svg {
  margin: 20px 0 0 20px;
}
.span {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 9px;
  color: #868686;
  margin: 20px 0px 0 6px !important;
}
.second-text {
  display: flex;
}
#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  #okno {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000092;
    background: #000092;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  #zatemnenie:target {display: block;}
  .close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
  }
  .close:hover {background: #e6e6ff;}