main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

body {
  font: Sans Serif Collection;
  margin: 0;
  padding: 0;
  background: #79a2ff;

}

main {
  /* margin: 20px 0px 200px 30px */
}

.container {
  max-width: 80%;
  border-radius: 5px;
  position: relative;
}

.text {
  position: relative;
  text-align: center;
  top: 100px;
  text-align: center;
}

.back-btn {
  position: absolute;
  top: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-color: transparent;
  left: 5%;
}




.register-logo span {
  font-family: var(--font6);
  font-weight: 700;
  font-size: 32px;
  line-height: 62%;
  text-align: center;
  color: #fff;
}

.form {
  background: #fff;
  position: absolute;
  bottom: 0px;
  height: 70vh;
  border-radius: 50px 50px 0 0;
}

.continue-btn {
  box-shadow: 0 14px 23px 0 rgba(28, 37, 44, 0.08);
  background: #ffd700;
  border-radius: 12px;
  width: 50%;
  height: 50px;
  margin: 10% 25% 0;
  font-family: var(--font6);
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  border: 2px solid #fff;
}

.title {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.selected {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding-left: 10%;
}

.select-reason {
  margin: 20px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding-left: 5%;
}

.subtitle {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #252525;

}

.fifth {
  width: 30px;
}

.fourth {
  width: 40px;
}

.thrid {
  width: 55px;

}

.second {
  width: 40px;
}

.first {
  width: 30px;
}

.btn-outline-primary {
  margin: 10px 10px 0 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(31, 100, 255, 0.6);
  color: white;
}
.drop-up{
  width: 100%;
  margin: 20px 0 30px 0;
}